.programms{
    margin: 25px auto;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.program img{
    width: 100%;
    border-radius: 10px;
    display: block;
}
.program {
    flex-basis: 31%;
    position: relative;
}
.caption{
    border-radius: 10px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(59, 71, 150, 0.653);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #fff;
    cursor: pointer;
    /*hides the pic underneath*/
    opacity: 0;
    padding-top: 70%;
    transition: 0.4s;
}
.caption img{
    width: 60px;
    margin-bottom: 10px;
}
.program:hover .caption{
    /*shows the cover pics and text*/
    opacity: 1;
    padding-top: 0%;
}