.h1 {
    font-weight: 700;
    font-size: 300; 
    text-align: center;
    padding-top: 50px; 
    margin-top: 20px; 
    color: #000F38;
}

.h2 {
    font-weight: 400;
    font-size: 150%; 
    text-align: justify;
    width: 50%;
    margin-left: auto; 
    color: #000F38;
    float: right;
    padding-bottom: 30px;
}

.pic{
    width: 40%;
    height: 40%;
    display: flexbox;
    border-radius: 20%;
    padding-top: 30px;
}
